@media (max-width: 1000px) {
  .header a {
    font-size: 1.2em;
  }
  .hamburger {
    left: 20px;
  }
  .aside {
    transform: translateX(-190px);
  }
  .container input[type="checkbox"]:checked ~ .aside {
    transform: translateX(0px);
  }
  .container input[type="checkbox"]:checked ~ .hamburger {
    top: 60px;
    transform: translateX(150px);
  }

  .hamburger span:first-child {
    width: 50%;
    transform: translateY(6px) translateX(8px) rotate(45deg);
  }
  .hamburger span:nth-child(2) {
    transform: rotate(0);
  }
  .hamburger span:last-child {
    opacity: 1;
    width: 50%;
    transform: translateY(-6px) translateX(8px) rotate(-45deg);
  }

  .container input[type="checkbox"]:checked ~ .hamburger span:first-child {
    width: 100%;
    transform: translateY(8px) rotate(45deg);
  }
  .container input[type="checkbox"]:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .container input[type="checkbox"]:checked ~ .hamburger span:last-child {
    opacity: 0;
  }
  .body {
    min-width: 100vw;
    transform: translateX(-190px);
  }
  .container input[type="checkbox"]:checked ~ .body {
    min-width: 100vw;
    transform: translateX(-190px);
  }
}
