.container {
  width: 100%;
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.left a {
  text-decoration: none;
  display: block;
  color: var(--text-color-tertiary);
  text-align: center;
}
.left {
  width: 54%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--text-color-secondary);
  color: var(--text-color-primary);
  padding: 15px;
}
.right {
  width: 44%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--text-color-secondary);
  color: var(--text-color-primary);
  padding: 15px;
}
@media (max-width: 1000px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
