.dropDontainer {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--text-color-secondary);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  z-index: 2;
}
.dropDontainer a {
  margin: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: var(--bg-color-primary);
  text-decoration: none;
  padding: 10px 20px;
  transition: all 1s ease;
}
.dropDontainer span {
  margin-left: 5px;
}
.dropDontainer a:hover {
  color: var(--text-color-secondary);
  background-color: var(--text-color-primary);
}
