.container {
  width: 100%;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.loadingContainer {
  display: flex;
  width: 300px;
  height: 300px;
  background: none;
}
.loadingContainer span {
  width: 200px;
  height: 200px;
  position: absolute;
}

.loadingContainer span:first-child {
  border: 2px solid var(--bg-color-primary);
  border-radius: 70% 60% 50% 60%;
  animation: animation 1s linear infinite;
}

.loadingContainer span:nth-child(2) {
  border: 2px solid var(--text-color-tertiary);
  border-radius: 80% 10% 90% 20%;
  animation: animation 2s linear infinite reverse;
}

.loadingContainer span:last-child {
  border: 2px solid var(--text-color-primary);
  border-radius: 40% 50% 35% 70%;
  animation: animation 5s linear infinite;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
