.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}
.item a {
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.item .topTitle {
  display: flex;
  align-items: flex-end;
  z-index: 1;

}
.topTitle .title {
  margin-left: 5px;
  margin-right: auto;
}
.topTitle .animation {
  transform: rotate(-50deg);
  animation: iconAnime 1s ease infinite;
}
@keyframes iconAnime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.subTitle {
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 0.8em;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.5s ease;
}
.subTitle.active {
  opacity: 1;
  transform: translateX(0px);
}

.subList {
  padding-left: 20px;
  position: absolute;
  visibility: hidden;
  transition: all 0.1s ease;

}

.subList.active {
  display: flex;
  position: relative;
  visibility: visible;
}

.item a {
  color: var(--text-color-primary);
  text-decoration: none;
}
.item a:hover {
  background-color: var(--bg-color-secondary);
}
