.container {
  width: 100%;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.container:hover {
  background-color: var(--bg-color-secondary);
  /* background-color: red; */
}
.container img {
  width: 10%;
  height: 10%;
  border-radius: 40%;
  margin-right: 10px;
}
.container .top {
  font-weight: 600;
  margin-bottom: 5px;
}
.container .down {
  font-size: 0.9em;
  margin-left: 5px;
  opacity: 0.8;
}
