.section {
  margin-bottom: 30px;
  margin-left: 15px;
  color: var(--text-color-primary);

}
.section p {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}
.section ul {
  list-style: none;
  
}


