@media (max-width: 950px) {
  .container {
    width: 24%;
  }
  .container .title {
    font-size: 0.8em;
  }
}
@media (max-width: 784px) {
  .container {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
