:root #light {
  --bg-color-primary: #6a7efc;
  --bg-color-secondary: #ced4d9;
  --bg-color-tertiary: #ffffff7a;
  --text-color-primary: #494953;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #ff5656;
}

:root #dark {
  --bg-color-primary: #6a7efc;
  --bg-color-secondary: #626364;
  --bg-color-tertiary: #6b6767;
  --text-color-primary: #fdfdff;
  --text-color-secondary: #414040;
  --text-color-tertiary: #ff5656;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
